@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*================================================
 *  一般・共通設定
 ================================================*/

body {
	font-size:18px;
	font-family: "メイリオ",Meiryo,"Hiragino Kaku Gothic ProN","ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","ＭＳ Ｐゴシック","MS PGothic",Helvetica,sans-serif;
	color: #333;
	text-align: justify;
	text-justify: inter-ideograph;
}

a,.linearAnime {
	color: inherit;
	text-decoration: none;
	transition: all 0.1s linear;
}
a.underline {
	text-decoration: underline;
}
a:hover {
	opacity: 0.7;
}
a.underline:hover {
	opacity: 1;
	text-decoration: none;
}

img,svg {
	vertical-align: bottom;
}

/*色*/
.color_main {
	color: #14326e;
}
.color_red {
	color: #bf0000;
}
.color_white {
	color: #fff;
}

/*背景*/
.bg_main {
	background-color: #14326e;
}

/* position */
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
/* sp/pcの切替 */
.sp,.sp_inline {
	display: none;
}
/*文字揃え*/
.ta-l {
	text-align: justify;
	text-justify: inter-ideograph;
}
.ta-r {
	text-align: right;
}
.ta-c {
	text-align: center!important;
}
.pcspText { /*PC：中央揃え・SP左揃え用*/
	text-align: center;
}
/*文字種類*/
.ff_roboto {
  font-family: 'Roboto', sans-serif;
	font-weight: 700;
}
.ff_din {
  font-family: din-2014, sans-serif;
  font-weight: 700;
}
.ff_market {
  font-family: ff-market-web, sans-serif;
  font-weight: 700;
}
/*文字太さ*/
.fontLight {
	font-weight: 300;
}
.fontRegular {
	font-weight: 400;
}
.fontMedium {
	font-weight: 500;
}
.fontSemiBold {
	font-weight: 600;
}
.fontBold {
	font-weight: 700;
}
.fontBlack {
	font-weight: 900;
}


/*幅*/
.wrap {
  max-width: 980px;
  width: 80%;
  margin: 0 auto;
}

/*Animate.css用*/
.animated {
	opacity: 0;
}
.animated.move {
	opacity: 1;
}

/* タイピング風アニメーション用 */
.ityped-cursor {
    font-size: 1em;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

/*================================================
 *  ナビゲーション
 ================================================*/
/*******ハンバーガー*******/
#sp_menu_btn {
	display: none;
}

/*******ドロワー*******/
#drawer {
	display: none;
}

/*================================================
 *  コンテンツ
 ================================================*/
/*******箇条書きリスト*******/
.kome_list li,
.disc_list li,
.circle_list li,
.square_list li,
.indent_list li,
.diamond_list li {
	list-style-position:inside;
	padding-left: 0.5em;
	text-indent: -0.5em;
}
/*※箇条書き*/
.kome_list > li::before{
	display: inline;
	content: "\203b";
}
/*・箇条書き*/
.disc_list > li::before{
	display: inline;
	content: "\30fb";
}
/*●箇条書き*/
.circle_list > li::before{
	display: inline;
	content: "\25CF";
}
/*■箇条書き*/
.square_list > li::before{
	display: inline;
	content: "\25A0";
}
/* ◆箇条書き */
.diamond_list > li::before {
  display: inline-block;
  content: "\25C6"
}
/*()数字*/
.number_list li{
	padding-left: 2.16em;
	text-indent: -2.66em;
	list-style-type:none;
	list-style-position:inside;
	counter-increment: cnt;
}
.number_list li::before{
	display: inline;
	content: "（" counter(cnt) "）";
}
/*数字.*/
.decimal_list li{
	padding-left: 1em;
	text-indent: -1em;
	list-style-type:none;
	list-style-position:inside;
	counter-increment: dcnt;
}
.decimal_list li::before{
	display: inline;
	content: counter(dcnt) ".";
}

/*================================================
 *  フッター
 ================================================*/
footer .copyright {
  text-align: center;
}
footer .copyright small {
  font-size: 12px;
  padding: 1em 0;

}

/*================================================
 *  スマートフォン向けデザイン
 ================================================*/
@media screen and (max-width:500px) {

  body {
    font-size: 4vw;
  }

  img {
    max-width: 100%;
  }

  /*文字揃え*/
  .pcspText { /*PC：中央揃え・SP左揃え用*/
    text-align: justify;
    text-justify: inter-ideograph;
  }
  /* sp/pcの切替 */
  .sp {
    display: block;
  }
  .sp_inline {
    display: inline;
  }
  .pc,.sp_none {
    display: none;
  }

  /*幅*/
  .wrap {
    max-width: inherit;
    width: 90vw;
  }
  .wrap_sp_small {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
  }
  .sp_wid100 {
    width: 100%;
  }

  /*================================================
  *  ナビゲーション
  ================================================*/
  /*******ハンバーガー*******/
  #sp_menu_btn {
    width: 15vw;
    height: 15vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 5vw;
    right: 5vw;
    z-index: 1000;
    background-color: #15182d;
  }
  #sp_menu_btn .hamburger-icon {
    position: relative;
    display: block;
  }
  #sp_menu_btn .hamburger-icon,
  #sp_menu_btn .hamburger-icon::before,
  #sp_menu_btn .hamburger-icon::after {
    width: 8vw;
    height: 2px;
    transition: all .3s cubic-bezier(0.190, 1.000, 0.220, 1.000);
    background-color: #fff;
  }
  #sp_menu_btn .hamburger-icon::before,
  #sp_menu_btn .hamburger-icon::after {
    position: absolute;
    top: 2.5vw;
    left: 0;
    content: '';
  }
  #sp_menu_btn .hamburger-icon::after {
    top: -2.5vw;
  }
  #sp_menu_btn.active .hamburger-icon {
    background-color: transparent;
  }
  #sp_menu_btn.active .hamburger-icon::before,
  #sp_menu_btn.active .hamburger-icon::after {
    top: 0;
  }
  #sp_menu_btn.active .hamburger-icon::before {
    transform: rotate(45deg);
  }
  #sp_menu_btn.active .hamburger-icon::after {
    transform: rotate(-45deg);
  }

  /*******ドロワー*******/
  #drawer {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    transition: all 0.5s ease-in-out;
    z-index: 999;
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
    opacity: 0;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    padding: 30vw 15vw;
    background-color: #ffd9e2;
  }
  #drawer.active {
    visibility: visible;
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  #drawer::-webkit-scrollbar {
    width: 10px;
  }
  #drawer::-webkit-scrollbar-track,
  #drawer::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: none;
  }
  #drawer::-webkit-scrollbar-track {
    background-color: transparent;
    border: none;
  }
  #drawer::-webkit-scrollbar-thumb {
    background: #999;
  }

  #drawer ul li {
    font-weight: bold;
    font-size: 8vw;
    line-height: 1.5;
  }
  #drawer ul li a {
    padding: 0.5em 0;
    display: block;
  }
  /*================================================
  *  フッター
  ================================================*/
  footer .copyright small {
    font-size: 2.6vw;
  }

}
